---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../icons/ArrowRight.astro';
import ImageFramed from './ImageFramed.astro';

type Props = { project: CollectionEntry<'projects'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { project, class: className, headingLevel = 'h2' } = Astro.props;
const { title, description, seo, color } = project.data;
const { src, alt } = seo?.image || {};
const TitleTag = headingLevel;
---

<a class:list={['flex justify-between items-center  gap-8 group pt-2 pb-4 outline-none ', className]} href={`/projects/${project.slug}/`}>
    <div class="flex flex-wrap sm:flex-nowrap gap-6">
        <div class="w-full sm:w-4/12">
            <ImageFramed src={src} alt={alt} color={color}  size="6px" radius="4px" />
        </div>
        <div class="w-full sm:w-8/12 mb-8 sm:mb-0">
            <TitleTag
                class="text-xl leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl"
            >
                {title}
            </TitleTag>
            {description && <div class="mt-1 text-sm leading-normal">{description}</div>}
        </div>
    </div>
    <div class="hidden sm:inline-flex sm:gap-1 font-serif italic opacity-0 group-hover:opacity-100
    group-focus:opacity-100 transition sm:items-center sm:shrink-0 group-focus:outline group-focus:outline-offset-4 group-focus:outline-2 outline-blue-500 rounded-sm">
        Leer proyecto <ArrowRight class="fill-current w-4 h-4" />
    </div>
</a>
