---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';  
import { sortItemsByDateDesc } from '../../utils/data-utils';
import DitheredImageReact from '../../components/DitheredImageReact'; 

export async function getStaticPaths() {
    const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
    const projectCount = projects.length;
    return projects.map((project, index) => ({
        params: { slug: project.slug },
        props: {
            project,
            prevProject: index + 1 !== projectCount ? projects[index + 1] : null,
            nextProject: index !== 0 ? projects[index - 1] : null
        }
    }));
}

type Props = { project: CollectionEntry<'projects'>; prevProject: CollectionEntry<'projects'>; nextProject: CollectionEntry<'projects'> };

const { project, prevProject, nextProject } = Astro.props;
const { title, description, seo, color, clientLogo } = project.data;
const { src, alt, caption } = seo?.image || {};
const { Content } = await project.render();
---

<Layout title={seo?.title ?? title} description={seo?.description ?? description} image={seo?.image} pageType="article" showHeader={false}>
    <article class="mb-16 sm:mb-24" style={`view-transition-name: project-card-${project.slug}`}>
        <header class="mb-8">
            {clientLogo && (
                <div class="w-32 mb-6 flex items-center justify-center" style={`view-transition-name: project-logo-${project.slug}`} data-client-logo={clientLogo}>
                    <DitheredImageReact 
                        src={clientLogo} 
                        alt={`Logo del cliente - ${title}`}
                        className="max-h-full max-w-full object-contain"
                        respectOriginalSize={true}
                        client:load
                    />
                </div>
            )}
            <div style={`view-transition-name: project-content-${project.slug}`}>
                <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight pb-6">{title}</h1>
            </div>
        </header>
        <div class="max-w-none prose prose-dante sm:prose-lg">
            <Content />
        </div>
    </article>
    {
        // (prevProject || nextProject) && (
        //     <div class="my-16 sm:my-24 ">
        //         <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Sigue leyendo</h2>
        //         {nextProject && <ProjectPreview project={nextProject} class="mb-10 sm:mb-12" headingLevel="h3" />}
        //         {prevProject && <ProjectPreview project={prevProject} class="mb-10 sm:mb-12" headingLevel="h3" />}
        //     </div>
        // )
    }
</Layout>

<!-- Preload client logo -->
{clientLogo && <link rel="preload" as="image" href={clientLogo} />}
